.watchlist-container {
    display: flex;
    height: 32rem;
    flex-direction: row;
    /* justify-content: flex-start; */
    margin-left: 1rem;
    overflow-x: auto;
    max-width: auto;
}

.watchlist-container::-webkit-scrollbar {
    display: none;
}

.header-container {
    display: flex;
    justify-content: center;
}

.watchlist-header {
    height: 3rem;
    display: flex;
    align-items: center;
}